
<ion-content [fullscreen]="true">
  <div class="wrapper">
    <div id="container" padding>
      <div class="logo">
        <img src="../../assets/img/logo.png">
      </div>
      <h2 class="xs-hidden">Prueba técnica</h2>
      <form class="login" [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
        <ion-item>
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label position="floating">Email</ion-label>
          <ion-input autocomplete="off" type="email" formControlName="email" ></ion-input>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
      Por favor, introduce un email válido.
    </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
      Email es obligatorio.
    </span>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input autocomplete="off" type="password" formControlName="password"></ion-input>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
      Contraseña es obligatorio.
    </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.minlength">
     La contraseña debe tener como mínimo 5 caracteres.
    </span>
        </ion-item>
        <ion-item  lines="none">
          <ion-label>Recordar</ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
        <ion-button expand="full" type="submit">Acceder</ion-button>
      </form>
    </div>
  </div>
</ion-content>
