
ion-content {
  background: url('../../assets/img/background.png');
  background-size: cover;
  background-position: center;
  --background: transparent;
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
  }
  #container {
    text-align: center;
    max-width: 480px;
    width: 100%;
    animation: fade-in .75s ease-in-out;
    strong {
      font-size: 20px;
      line-height: 26px;
    }
    p {
      font-size: 16px;
      line-height: 22px;
    
      color: #8c8c8c;
    
      margin: 0;
    }
    a {
      text-decoration: none;
    }
  }
  .logo {
    margin: 30px 0;
    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      object-position: left;
      animation: fade-in 1.25s ease-in-out;
    }
  }
  form.login {
    margin: 0 20px;
    background: #fff;
    padding: 0;
    border: 0;
    padding-top: 10px;
    ion-item {
      padding: 0 10px;
      animation: fade-in 1.75s ease-in-out;
      ion-icon, ion-label {
        color: var(--ion-color-medium);
      }
      ion-icon {
        margin-right: 10px;
      }
      ion-label {
        font-size: 14px;
      }
      ion-toggle {
        --handle-background: var(--ion-color-medium-tint);
        --background: var(--ion-color-medium-contrast);
      }
    }
    ion-button {
      margin: 0;
      text-transform: capitalize;
      min-height: 50px;
      animation: fade-in 2s ease-in-out;
    }
    span.error {
      font-size: 14px;
      color: var(--highlight-color-invalid);
      padding-left: 0;
      padding-top: 0;
      animation: error 0.8s ease-in-out forwards;
    }
  }
  @media (min-width: 960px) {
    .wrapper {
      align-items: center;
    }
    #container {
      background: var(--ion-color-primary-contrast);
      padding: 20px;
      form.login { 
        ion-button {
            width: 35%;
            margin: 0 auto;
            border: 1px solid var(--ion-color-primary);
            border-radius: 60px;
            color: var(--ion-color-primary);
            min-height: 40px;
            --background: transparent;
            --box-shadow: none;
            --border-radius: 5px;
            overflow: hidden;
        }
      }
    }
  }
}


@keyframes error {
  0% {
    padding-left: 0;
  }
  10% {
    padding-left: 10px;
  }
  20% {
    padding-left: 0;
  }
  30% {
    padding-left: 10px;
  }
  40% {
    padding-left: 0;
  }
  50% {
    padding-left: 10px;
  }
  60% {
    padding-left: 0;
  }
  70% {
    padding-left: 10px;
  }
  80% {
    padding-left: 0;
  }
  90% {
    padding-left: 10px;
  }
  100% {
    padding-left: 0;
  }
}

@keyframes fade-in {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}